@(book: model.Book)(implicit flash: Flash, lang: Lang)

@import ui.model.Button._

@buttons = @{
  List(editBook(book.id.get), deleteBook(book.id.get), addBook)
}

@extraJs = {
  <script src="@routes.Assets.at("javascripts/comments.js")" type="text/javascript"></script>
}

@main(Messages("book.title"), head = extraJs, buttons = buttons) {
  <table class="table">
    <tr>
      <th>Title</th>
      <td>@book.title</td>
    </tr>
    <tr>
      <th>Author</th>
      <td>@book.author</td>
    </tr>
    <tr>
      <th>Year</th>
      <td>@book.publishYear</td>
    </tr>
    <tr>
      <th>Is Book Cool?</th>
      <td>@coolness(book)</td>
    </tr>
  </table>

  @comments(book.id.get)
}
