@(bookForm: Form[model.Book], id: Option[Int])(implicit flash: Flash, lang: Lang)

@import helper._
@import ui.Helpers._

@main("Edit Book") {
    @helper.form(action = id map routes.Books.save getOrElse routes.Books.create(), 'class -> "form-horizontal") {
        <fieldset>
            <legend>
                Book Detail
            </legend>

            @inputText(bookForm("title"), 'class -> "form-control")
            @inputText(bookForm("author"), 'class -> "form-control")
            @inputText(bookForm("publishYear"), 'class -> "form-control")
            @checkbox(bookForm("cool"))
        </fieldset>
        <p style="text-align: right">
            <input type="submit" class="btn btn-default" value='@id.map(_ => "Save").getOrElse("Add")'>
            <a href="@{bookForm("id").value map (id => routes.Books.get(id.toInt)) getOrElse routes.Books.list()}">Cancel</a>
        </p>
    }
}