@(elements: views.html.helper.FieldElements)(implicit l: Lang)

@import play.api.i18n._
@import views.html.helper._

<div class="form-group @elements.args.get('_class) @if(elements.hasErrors) {has-error}" id="@elements.args.get('_id).getOrElse(elements.id + "_field")">
    <label for="@elements.id" class="col-lg-2 control-label">@Messages("form.label." + elements.field.name)</label>
    <div class="col-lg-10">
        @elements.input
        <span class="help-block">@elements.errors(elements.lang).mkString(", ")</span>
        <span class="help-inline">@elements.infos(elements.lang).mkString(", ")</span>
    </div>
</div>